<div class="fields form-inline">
  <%= f.text_field :content, class: "form-control" %>
  <%= f.check_box :is_correct, class: "form-control" %>
  
  <%= link_to_remove_fields raw('<i class="glyphicon glyphicon-trash"></i>'), f, class: "btn btn-danger btn-sm" %>
</div>
