<div class="row">
	<div class="col-md-12">
		<h2><%= t ".title" %></h2>
		<div class="row">
			<div class="col-md-12">
			  <%= render @categories %>
			  <%= will_paginate @categories %>
		  </div>
		</div>
	</div>
</div>
