<tr>
  <td><%= gravatar_for activity.user %>
      <%= link_to activity.user.name, activity.user %></td>
  <td><%= activity.type_of_activity %></td>
  <td><%= activity.created_at.to_formatted_s :short %></td>
</tr>